
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>

<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('List emoticons') %></h1>
        <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
    </div>
    <div class="main container clearfix">
        <p><%= __("This is the emoticon hierachy") %></p>
        
<% for(var i=0; i<dirs.length; i++) {%>
            <div><a href="/emote/ls?loc=<%= dirs[i] %>"><%= dirs[i] %></a></div>
<% } %>

<% for(var i=0; i<canonical_names.length; i++) {%>
            <div><a href="/emote/view?id=<%= canonical_names[i] %>"><%= canonical_names[i] %></a></div>
<% } %>

    </div>
</div>
